Okay... so <%=username%>, you are <%=age%> years old, and your 3 favorite numbers are <%=fav1%>, <%=fav2%>, and <%=fav3%>. The total of your 3 favorite numbers is <%=sum%>. That number <%=results%> than your age.

<form>		
		<input type='number' name='fav_num1_input' value= <%=fav1%> hidden>
		<input type='number' name='fav_num2_input' value= <%=fav2%> hidden>
		<input type='number' name='fav_num3_input' value= <%=fav3%> hidden>
		<input type='age' name='age_input' value= <%=age%> hidden>	
		<input type='text' name='name_input' value= <%=username%> hidden>
		
</form>